body {
  color: #ffffff;
  font-size: 30px;
}
.header-two-columns {
  background-color: #3d3c66;
  height: 200px;
  margin-bottom: 5px;
  display: flex;
}
 
.content {
  background-color: #3d3c66;
  min-height: 500px;
  width: 70%;
  /*float: left;*/
 }

 .sidebar {
  background-color: #3d3c66;
  min-height: 500px;
  width: 30%;
  /*float: left;*/
 }

 .footer {
  background-color: #3d3c66;
  height: 200px;
  margin-top: 5px;
}

.container-two-column {
 display: flex;
}

.main-photo {

}

.header-name {
  width: 50%;
}

.header-photo {
  width: 50%;
}

h1 {
  text-align: right;
  font-size: 20;
}